@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #232b2b;
  --header-color: #fff;
  --text-color: #fff;
  /*  --overlay: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)),
    url(https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80); */
  --overlay: #112028;
  --section-bg2: #112028;
  --section-bg3: #112028;
  --section-bg1: #112028;
  --section-bg4: #0f1c23;
  --bg-main: #273547;
  --bg-secondary: #3bb78f;
  --nav-bg: #00000000;
  --secondary-color: #3bb78f;
  --border-color: #ffffff15;
  --border-color2: #d7d7d7;
}

.dark-theme {
  --primary-color: #fff;
  --text-color: #242f35;
  --header-color: #060a0d;
  --overlay: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80);
  --section-bg1: rgb(250, 250, 250);
  --section-bg2: #fff;
  --section-bg3: #ebebeb;
  --section-bg4: #fafafa;
  --bg-main: #0a1116;
  --bg-secondary: #78e5e1;
  --nav-bg: #fff;
  --border-color: #00000015;
  --border-color2: #00000065;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--section-bg4);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  /*   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in; */
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: #3bb78f;
  border-radius: 0.4rem;
}

p {
  line-height: 1.7;
}

/* Global Styling */
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-color);
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 0;
  margin-top: 15px;
  border: none;
  font-family: inherit;
  display: inline-block;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary:hover {
  background: #55b79d;
}

.btn-primary {
  color: #fff;
  background: transparent;
  border: 2px solid #3bb78f;
  transition: all 0.5s ease-out;
}

.btn-secondary {
  background-color: #969696;
  color: #eee;
}

.btn-secondary:hover {
  background-color: #d8d8d8;
}

/* Cursor */
.cursor {
  position: absolute;
  height: var(--circle);
  width: var(--circle);
  transform: scale(1);
  border-radius: 50%;

  transition: all 0.35s, top 0s, left 0s;
  /* mix-blend-mode: exclusion; */
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999999;
}

.cursor:first-child {
  background-color: var(--text-color);
  --circle: 8px;
}
.cursor.second-cursor {
  background-color: none;
  border: 3px solid #3bb78f;
  --circle: 54px;
}

.cursor:first-child.big {
  --circle: 3rem;
  mix-blend-mode: exclusion;
}
.second-cursor.big {
  --circle: 0px;
  border-width: 0px;
  mix-blend-mode: exclusion;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background: #3bb78f;
  height: 0.3rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(44px);
}

.title::after {
  content: "";
  background: #3bb78f;
  height: 0.8rem;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(4px);
}

.subtitle {
  text-align: center;
  text-transform: capitalize;
}

.subtitle::before {
  content: "";
  background: #3bb78f;
  height: 0.3rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}
.subtitle::after {
  content: "";
  background: #3bb78f;
  height: 0.2rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(4px);
}

.theme-icon {
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 1.1rem;
  display: none;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  background: var(--nav-bg);
  height: auto;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(10px);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header .container .brand {
  display: flex;
  align-items: center;
}

header .container .brand img {
  width: 45px;
  margin-right: 1rem;
}

.brand a {
  font-size: 1.5rem;
  font-weight: 400;
}

header .container nav ul li {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

header .container nav ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 5px;
  left: 0;
  background: var(--text-color);
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

header .container nav ul li a:hover::after {
  width: 100%;
}

header .container .hamburger {
  display: none;
  z-index: 99;
}

header .container .hamburger {
  color: var(--text-color);
  font-size: 1.7rem;
}

header .container .profile-info {
  display: none;
  transform: translateX(-700px);
}

header .container .profile-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header .container .profile-wrap .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 200;
}

header .container .profile-wrap .profile {
  width: 100px;
  margin-bottom: 1rem;
}

#banner {
  height: 100%;
  background: var(--overlay);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  backdrop-filter: blur(1rem);
  padding-bottom: 10%;
}

#banner .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height: 100%;
}

#banner .container .text-side {
  margin-top: 22%;
}

#banner .container .text-side h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

#banner .design-line {
  width: 6.5rem;
  height: 0.2rem;
  background: #78e5e1;
  margin: 0rem 0 1.2rem;
}

#banner .container .text-side p {
  font-size: 1.2rem;
  padding: 0rem 2rem 0.5rem 0;
}

#banner .container .social-icons {
  margin: 1rem 0;
}

#banner .container .social-icons .fa {
  font-size: 2rem;
  padding-left: 20px;
}

#banner .container .social-icons .fa-instagram {
  padding-left: 0;
}

#banner .img-side {
  animation: slideInLeft 1s;
  animation-delay: 1.5s;
  position: relative;
}

#banner .hero-image {
  z-index: 4;
}

#banner .light-image {
  position: absolute;
  top: 18%;
  left: 14%;
  z-index: 1;
  cursor: pointer;
}

#services {
  padding: 4rem 0 6rem;
  background: var(--section-bg4);
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services .service {
  padding: 2.5rem 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--border-color);
  transition: all 1s ease;
}

.services .service img {
  width: 30%;
  align-self: center;
  margin-bottom: 2rem;
}

.services .service h4 {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

#services button {
  margin-left: 50%;
  transform: translateX(-50%);
}

#works {
  background-color: var(--section-bg1);
  padding: 2rem 0;
}

#websites {
  padding: 4rem 0 6rem;
}

#websites .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 4rem;
}

#websites .boxes img {
  width: 100%;
}

#websites .boxes .box {
  text-align: center;
  padding-bottom: 1rem;
}

#websites .boxes .box.hidden {
  height: 0;
  transform: scaleY(0);
  transition: 1s ease;
}

#websites.active .boxes .box.hidden {
  height: 100%;
  transform: scaleY(1);
}

#websites .expand-btn {
  background-color: var(--secondary-color);
  color: #fff;
  width: 30px;
  height: 30px;
  font-weight: 900;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 1s ease;
}

#websites.active .expand-btn i {
  transform: rotateX(180deg);
}

#arts {
  padding: 1rem 0;
  padding: 4rem 0 6rem;
}

#arts .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#arts .boxes .box {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: all 0.4s ease-in-out;
}

#arts .boxes .box:hover {
  transform: scale(0.98);
}

#arts .boxes img {
  width: 100%;
  border: none;
}

#about {
  background: var(--section-bg4);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0 3rem;
  overflow-y: hidden;
}

#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#about .container .about-info p {
  padding-bottom: 0.8rem;
}

#about .container .about-info ul {
  list-style-type: square;
}

#about .container .about-info ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

#about .container .about-info ul li::after {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f0da";
  color: #3bb78f;
}

#about .container .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .container .profile-rotate {
  width: 55%;
  border-radius: 50%;
  height: 70%;
  display: grid;
  place-items: center;
  min-height: 7rem;
  background: #3bb78f;
  position: relative;
}

#about .container .profile-rotate::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  border: 1px solid #3bb78f;
  border-radius: 50%;
}

#about .container .profile-rotate::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.06);
  border: 3px solid #fff;
  border-radius: 50%;
}

#about .container .profile-svg {
  width: 100%;
  max-width: 8rem;
  margin: 0 auto;
}

.skill {
  background: #d8d8d8;
  margin: 1rem 0;
  overflow-x: hidden;
}

.bars {
  height: 2rem;
  width: 90%;
  background-color: var(--secondary-color);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.bars.show {
  transform: translateX(0);
}

#Contact {
  background: var(--section-bg4);
}

#Contact .container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

#Contact p {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 48rem;
}

#Contact .contact-card {
  width: 80%;
  height: 100%;
  margin: 1.5rem auto;
  border: 1px solid var(--secondary-color);
}

#Contact .innerbox {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#Contact .cardfront,
#Contact .cardback {
  width: 100%;
  height: 100%;
  background: var(--section-bg2);
  padding: 1.5rem;
  box-sizing: border-box;
}

#Contact .contact-card h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#Contact .input-box {
  width: 100%;
  border: none;
  margin: 6px 0;
  padding: 0.6rem 0;
  font-size: 1rem;
  outline: none;
  color: #fff;
  border-bottom: 1px solid var(--border-color2);
  background: transparent;
  font-family: inherit;
  margin-bottom: 1rem;
}

#Contact .input-box::placeholder {
  color: #d7d7d7;
}

#Contact textarea {
  width: 100%;
  border: none;
  margin: 6px 0;
  height: 5rem;
  font-size: 1rem;
  outline: none;
  padding: 0.6rem 0;
  font-family: inherit;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid var(--border-color2);
  resize: none;
}

#Contact textarea::placeholder {
  color: #d7d7d7;
}

#Contact label {
  text-align: left;
}

#social-media {
  background-color: var(--section-bg4);
}

#social-media .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#social-media .container .social-btn {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 10px 0;
}

#social-media .container .social-btn .social {
  background-color: var(--bg-secondary);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

#social-media .container .social-btn .social:hover {
  height: calc(100px + 15%);
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

#hand-emoji {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@media (max-width: 900px) {
  header .container nav ul li {
    padding: 0.8rem 0.8rem;
  }

  #banner .container {
    grid-template-columns: 1fr;
  }

  #arts .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

/* Features hover Effect */
.f-hoverable {
  position: relative;
  padding: 0.75em;
}

.f-hoverable::before,
.f-hoverable::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
  z-index: 1;
}
.f-hoverable::before {
  border-top: 0.15em solid #3bb78f;
  border-bottom: 0.15em solid #3bb78f;
  transform: scale3d(0, 1, 1);
}
.f-hoverable::after {
  border-left: 0.15em solid #3bb78f;
  border-right: 0.15em solid #3bb78f;
  transform: scale3d(1, 0, 1);
}
.f-hoverable:hover::before,
.f-hoverable:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}

@media (max-width: 667px) {
  :root {
    --nav-bg: #0f1c23;
  }

  .cursor {
    display: none;
  }

  .theme-icon {
    display: block;
  }

  header {
    backdrop-filter: none;
  }

  header nav {
    transform: translateX(700px);
  }

  header .container nav {
    position: fixed;
    bottom: 0;
    background: var(--section-bg4);
    width: 100%;
    height: 50%;
    left: 0;
    transition: 1s ease;
  }

  header .container .hamburger {
    display: block;
  }

  header .container .profile-info {
    position: fixed;
    top: 0;
    background: var(--overlay);
    width: 100%;
    height: 50%;
    right: 0;
    z-index: 10;
    transition: 1s ease;
    display: block;
  }

  header.active nav,
  header.active .container .profile-info {
    transform: translateX(0);
  }

  header .container nav ul li {
    display: block;
    text-align: center;
  }

  #banner {
    min-height: 100vh;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #banner .light-image {
    display: none;
  }

  .services,
  #websites .boxes,
  #about .container {
    grid-template-columns: auto;
  }

  #arts .boxes {
    margin: 0 auto;
  }

  #about .container img {
    margin: 30px auto;
  }

  #about .container aside {
    display: none;
  }

  #Contact .contact-card {
    width: 100%;
  }

  #social-media .container .social-btn .social {
    height: 50px;
  }

  #social-media .container .social-btn .social:hover {
    height: calc(50px + 10%);
  }
}

.eye {
  fill: black !important;
  transition: transform 0.1s ease-in;
}

/* .eye-right {
  transform: translateX(30px);
} */

@media (max-width: 400px) {
  #arts .boxes {
    grid-template-columns: auto;
  }
}

@media (max-width: 250px) {
  body {
    font-size: 14px;
    width: 100vh;
  }
}

@media (min-width: 1500) {
  body {
    font-size: 22px;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes move {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-14deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* --------- hamburger ------------- */
.hamburger {
  display: none;
  z-index: 999;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  stroke: url(#MyGradient);
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  /* stroke:rgb(189, 22, 22); */
  stroke-width: 5.5;
  stroke-linecap: round;
  /*  color: linear-gradient(197.67deg, #FFEDCE 25.79%, #F0C868 46.22%, #D09A5D 63.17%, #E5B864 73.64%); */
}

.line.middle {
  stroke: #3bb78f;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (max-width: 920px) {
  #about .container .profile-rotate {
    display: none;
  }
}
