* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #fff;
  --text-color: #555;
  --secondary-color: #3bb78f;
  --overlay: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80);
  --section-bg1: rgb(250, 250, 250);
  --section-bg2: #f3f4f6;
  --section-bg3: #ebebeb;
  --section-bg4: #fafafa;
  --bg-main: #d5e2eb;
  --bg-secondary: #78e5e1;
}

.dark-theme {
  --primary-color: #232b2b;
  --text-color: #fff;
  --overlay: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)),
    url(https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80);
  --section-bg2: #232425;
  --section-bg3: #272424;
  --section-bg1: rgb(5, 5, 5);
  --section-bg4: #272525;
  --bg-main: #273547;
  --bg-secondary: #3bb78f;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Global Styling */
a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 0;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

.btn-primary:hover {
  /* background: #78e5e1;
  color: #555; */
  background-position: left bottom;
}

.btn-primary {
  color: #fff;
  /*  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); */
  background: linear-gradient(to right, #071410, #0bab64 60%);
  background-size: 210% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.btn-secondary {
  background-color: #ccc;
  color: #222;
}

.btn-secondary:hover {
  background-color: #c1c1c1;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background: #3bb78f;
  height: 0.3rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}
.title::after {
  content: "";
  background: #3bb78f;
  height: 0.8rem;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(4px);
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
}

.subtitle::before {
  content: "";
  background: #3bb78f;
  height: 0.3rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}
.subtitle::after {
  content: "";
  background: #3bb78f;
  height: 0.2rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(4px);
}

header {
  position: fixed;
  width: 100%;
  background: var(--primary-color);
  height: auto;
  top: 0;
  z-index: 2;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header .container .brand {
  display: flex;
  align-items: center;
}

header .container .brand img {
  width: 45px;
  margin-right: 1rem;
}

.brand h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

header .container nav ul li {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  transition: all 1s ease-in;
}

header .container nav ul li.active,
header .container nav ul li:hover {
  background: var(--secondary-color);
}

header .container .hamburger {
  display: none;
}

header .container .hamburger {
  color: var(--text-color);
  font-size: 1.7rem;
}

header .container .profile-info {
  display: none;
}

header .container .profile-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header .container .profile-wrap .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 200;
}

header .container .profile-wrap .profile {
  width: 100px;
}

#banner {
  height: 100%;
  background: var(--overlay);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  backdrop-filter: blur(1rem);
  padding-bottom: 10%;
  animation: hue 15s infinite alternate;
}

#banner .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#banner .container .text-side {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#banner .container .text-side h2 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

#banner .container .text-side h2,
#banner .container .text-side p {
  animation-delay: 0.5s;
}

#banner .container .social-icons {
  margin: 1rem 0;
}

#banner .container .social-icons,
#banner .container button {
  animation: slideInUp 1s;
  animation-delay: 1s;
}

#banner .container .social-icons .fa {
  font-size: 2rem;
  padding-left: 20px;
}

#banner .container .social-icons .fa-instagram {
  padding-left: 0;
}

#banner .img-side {
  animation: slideInLeft 1s;
  animation-delay: 1.5s;
}

#services {
  padding: 1rem 0;
  background: var(--section-bg1);
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services .service {
  padding: 1rem 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 1s ease;
}

.services .service:hover {
  background: linear-gradient(to right, #071410, #0bab64 60%);
  background-position: left bottom;
  color: #eee;
}

.services .service img {
  width: 40%;
  align-self: center;
}

#services button {
  margin-left: 50%;
  transform: translateX(-50%);
}

#works {
  background-color: var(--section-bg2);
}

#websites .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#websites .boxes img {
  width: 100%;
}

#websites .boxes .box {
  background-color: var(--primary-color);
  text-align: center;
  padding-bottom: 1rem;
}

#websites .boxes .box.hidden {
  height: 0;
  transform: scaleY(0);
  transition: 1s ease;
}

#websites.active .boxes .box.hidden {
  height: 100%;
  transform: scaleY(1);
}

#websites .boxes .box .box-info {
  border-top: 2px solid var(--secondary-color);
}

#websites .expand-btn {
  background-color: var(--secondary-color);
  color: #fff;
  width: 30px;
  height: 30px;
  font-weight: 900;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: 1s ease;
}

#websites.active .expand-btn i {
  transform: rotateX(180deg);
}

#arts {
  padding: 1rem 0;
}

#arts .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#arts .boxes .box {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: all 0.4s ease-in-out;
}

#arts .boxes .box:hover {
  transform: translateY(-10px);
}

#arts .boxes img {
  width: 100%;
  border: none;
}

#about {
  background: var(--section-bg3);
}

#about .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#about .container .about-info p {
  padding-bottom: 0.8rem;
  line-height: 1.8rem;
}

#about .container .about-info ul li {
  margin-left: 20px;
}

#about .container aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#about .container img {
  width: 90%;
  margin: 0 auto;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(31, 193, 36) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px;
}

.skill {
  background: #fff;
  margin: 1rem 0;
  overflow-x: hidden;
}

.bars {
  height: 2rem;
  width: 90%;
  background-color: var(--secondary-color);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.bars.show {
  transform: translateX(0);
}

#Contact {
  background: var(--section-bg4);
}

#Contact .container {
  text-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contact .contact-card {
  width: 80%;
  height: 20rem;
  margin: 1.5rem auto;
  /* perspective: 1000px; */
}

#Contact .innerbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#Contact .cardfront,
#Contact .cardback {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--bg-main);
  padding: 1.5rem;
  box-sizing: border-box;
  backface-visibility: hidden;
}

#Contact .cardback {
  transform: rotateX(180deg);
}

#Contact .contact-card h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

#Contact .input-box {
  width: 100%;
  border: none;
  margin: 6px 0;
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  outline: none;
  text-align: center;
  border: 1px solid #fff;
}

#Contact textarea {
  width: 100%;
  border: none;
  margin: 6px 0;
  height: 4rem;
  text-align: center;
  outline: none;
  padding: 0 1rem;
  font-family: inherit;
}

#social-media {
  background-color: var(--bg-main);
}

#social-media .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#social-media .container .social-btn {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 10px 0;
}

#social-media .container .social-btn .social {
  background-color: var(--bg-secondary);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

#social-media .container .social-btn .social:hover {
  height: calc(100px + 15%);
}

footer {
  background-color: #333;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

#hand-emoji {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.left-item {
  transform: translateX(-100%);
  opacity: 0.1;
  transition: all 0.7s ease-in;
}

.left-item.show {
  opacity: 1;
  transform: translateX(0);
}

.right-item {
  opacity: 0.1;
  transform: translateX(100%);
  transition: all 0.7s ease-in;
}

.right-item.show {
  opacity: 1;
  transform: translateX(0);
}

.zoom-item {
  transform: scale(0);
  transition: all 0.7s ease-in;
}

.zoom-item.show {
  transform: scale(1);
}

.show-item {
  opacity: 0.1;
  transform: translateY(50%);
  transition: all 0.7s ease;
}

.show-item.show {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 900px) {
  header .container nav ul li {
    padding: 0.8rem 0.8rem;
  }

  #banner .container {
    grid-template-columns: 1fr;
  }

  #arts .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 667px) {
  header .container nav {
    position: fixed;
    bottom: 0;
    background: var(--primary-color);
    width: 100%;
    height: 50%;
    left: 0;
    transform: translateX(700px);
    transition: 1s ease;
  }

  header .container .hamburger {
    display: block;
  }

  header .container .profile-info {
    position: fixed;
    top: 0;
    background: var(--bg-main);
    width: 100%;
    height: 50%;
    right: 0;
    z-index: 10;
    transform: translateX(-700px);
    transition: 1s ease;
    display: block;
  }

  header .container nav ul li {
    display: block;
    text-align: center;
  }

  .services,
  #websites .boxes,
  #about .container {
    grid-template-columns: auto;
  }

  #arts .boxes {
    margin: 0 auto;
  }

  #about .container img {
    margin: 30px auto;
  }

  #about .container aside {
    display: none;
  }

  #social-media .container .social-btn .social {
    height: 50px;
  }

  #social-media .container .social-btn .social:hover {
    height: calc(50px + 10%);
  }
}

@media (max-width: 400px) {
  #arts .boxes {
    grid-template-columns: auto;
  }
}

@media (max-width: 250px) {
  body {
    font-size: 14px;
    width: 100vh;
  }
}

@media (min-width: 1500) {
  body {
    font-size: 22px;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(25deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-14deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
