@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ui-notch-amount: 0.2rem;
  --ui-notch-hypotenuse: 12.627416px; /* hypothenuse of --ui-notch-amount */
  --ui-notch-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--ui-notch-amount) + 2px)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  font-family: "Chakra Petch", serif;
  font-weight: 300;
  line-height: 1.6;
}

/* @component: splash */
.splash {
  background-image: url("/img/bg-temp.svg"),
    linear-gradient(90deg, #ffffff10 1px, transparent 1px),
    linear-gradient(#ffffff00 1px, transparent 1px);
  background-repeat: no-repeat, repeat, repeat;
  background-size: cover, 4% 100%;
  background-position: center, 0%, 0%;
}

/* @component: button */
.button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.045em;
  padding: 0.45rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-top: 3rem;
}

.button__content {
  display: inline-block;
  z-index: 2;
}

.button--size-lg,
.button--size-xl {
  border-width: 2px;
  clip-path: var(--ui-notch-path);
  padding: 0.55rem 0.7rem 0.7rem 0.55rem;
}

.button--size-lg::before,
.button--size-xl::before {
  background-color: currentcolor;
  bottom: 5px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: var(--ui-notch-hypotenuse);
  z-index: 100;
}

.button--size-xl {
  padding: 0.55rem 1.5rem 1.5rem 0.55rem;
}

.button--primary {
  color: var(--colors-secondary--500);
  border-color: var(--colors-secondary--500);
}

.btn-primary {
  border-width: 2px;
  clip-path: var(--ui-notch-path);
  padding: 0.55rem 0.7rem 0.7rem 0.55rem;
}

.btn-primary::before {
  background-color: currentcolor;
  bottom: 5px;
  content: "";
  display: block;
  height: 3px; /* bigger to compensate transform */
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: var(--ui-notch-hypotenuse);
  z-index: 100;
}

.f-hoverable {
  position: relative;
  padding: 0.75em;
}

.f-hoverable::before,
.f-hoverable::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.f-hoverable::before {
  border-top: 0.15em solid #fff;
  border-left: 0.15em solid #fff;
  transform: scale3d(1, 0.1, 1);
  left: 0;
  transform-origin: top lef t;
}
.f-hoverable::after {
  border-right: 0.15em solid #fff;
  border-top: 0.15em solid #fff;
  left: 0;
  transform: scale3d(0.1, 1, 1);
  height: 2.4rem;
  transform-origin: top right;
}
.f-hoverable:hover::before,
.f-hoverable:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
